.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //max-height: 492px;
  overflow-x: hidden;

  .item {
    width: 48%;
    margin-bottom: $indent-base;
    cursor: pointer;

    &-wrapper {
      position: relative;
      border-radius: 15px;
      overflow: hidden;
      color: white;
      font-weight: bold;
      max-height: 204px;
      height: 204px;
      //display: flex;

      img {
        width: auto;
        height: 100%;
      }
    }

    &-date {
      position: absolute;
      top: 20px;
      left: 15px;
      font-size: 14px;
    }

    &-title {
      position: absolute;
      bottom: 20px;
      left: 15px;
      font-size: 20px;
    }

    &-shade {
      position: absolute;
      top:0;
      width: 100%;
      height: 100%;
      background: $shade-gradient;
    }
  }

  &.list-view {
    .item {
      width: 100%;
      padding: $indent-base/1.2 0;
      border-bottom: 1px solid $border-color;
      margin-bottom: 0;

      &-wrapper {
        color: black;
        display: flex;
        align-items: center;
        border-radius: 0;
        height: auto;
        max-height: 36px;

        img {
          width: 30px;
          border-radius: 6px;
        }
      }

      &-shade {
        width: 30px;
        border-radius: 6px;
      }

      &-date {
        top: unset;
        left: unset;
        right: 0;
        color: $gray-color;
        order: 2;
      }

      &-title {
        position: relative;
        left: unset;
        bottom: unset;
        order: 1;
        margin-left: 13px;
        font-size: 16px;
      }
    }
  }
}
