@import 'variables/_variables';
body {
  background: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  //font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.intro-text {
  font-size: 110px;
  line-height: 100px;
  width: 30%;
  font-weight: bold;
  margin-top: 80px;
}

.intro-button {
  line-height: 0;
  img {
    max-width: 180px;
  }
}

.app-icon {
  position: absolute;
  top: 25px;
  margin-bottom: $indent-base*2;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $text-color;
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin-right: $indent-base;
  }

  span {
    font-size: 13px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h2 {
  font-size: 30px;
  font-size: 26px;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: $primary-color;
}

@import 'components/app';
@import 'components/tabs';
@import 'components/list';
@import 'components/ui/ui-header';
@import 'components/ui/ui-icon-camera';
@import 'components/ui/ui-image-placeholder';
@import 'components/ui/ui-popup';
@import 'components/ui/button';
@import 'screens/thingview';
@import 'screens/addthingview';
@import 'screens/addthing-catalog';
@import 'screens/calendar';
@import 'screens/editthingview';
@import 'screens/settingsview';
