//colors
$blue-color: #5F7CE0;
$red-color: #ea4f3d;
$alert-color: #FC3D38;
$text-color: #222;
$contrast-color: white;
$primary-color: $red-color;
$border-color: #ebebeb;

//gray color
$gray-light-color: #9C9C9C;
$gray-color: #7A7777;

//indents
$indent-base: 15px;

//gradient
$shade-gradient: linear-gradient(180.4deg, rgba(0, 0, 0, 0.2) 63.56%, rgba(34, 34, 34, 0.89) 99.72%);