
.button {
  padding: $indent-base;
  border-radius:10px;

  &-delete {
    background: $red-color;
    color: white;
    cursor: pointer;
    font-weight: bold;

    span {
      &:before {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M8.3349%201.20728H11.6775V1.76971H12.8846V1.12854C12.8848%200.506287%2012.3788%200%2011.7568%200H8.25555C7.63361%200%207.12762%200.506287%207.12762%201.12854V1.76971H8.3349V1.20728Z%22%20fill%3D%22white%22/%3E%0A%3Cpath%20d%3D%22M15.6723%206.55273H4.3399C4.02938%206.55273%203.78494%206.81763%203.80996%207.12723L4.75738%2018.8423C4.81017%2019.4963%205.35568%2020%206.01104%2020H14.001C14.6564%2020%2015.2019%2019.4963%2015.2547%2018.8422L16.2021%207.12723C16.2273%206.81763%2015.9828%206.55273%2015.6723%206.55273ZM7.08389%2018.7505C7.07122%2018.7512%207.05856%2018.7517%207.04605%2018.7517C6.72958%2018.7517%206.46392%2018.5052%206.44424%2018.1851L5.85052%208.56766C5.83007%208.23486%206.08322%207.94846%206.41586%207.92801C6.74743%207.90787%207.03506%208.1604%207.05551%208.49335L7.64907%2018.1108C7.66967%2018.4436%207.41653%2018.7299%207.08389%2018.7505ZM10.6164%2018.148C10.6164%2018.4813%2010.3462%2018.7515%2010.0128%2018.7515C9.67941%2018.7515%209.40917%2018.4813%209.40917%2018.148V8.53043C9.40917%208.19702%209.67941%207.92679%2010.0128%207.92679C10.3461%207.92679%2010.6164%208.19702%2010.6164%208.53043V18.148ZM14.1617%208.56598L13.5948%2018.1834C13.576%2018.5042%2013.3099%2018.7515%2012.9929%2018.7515C12.981%2018.7515%2012.9689%2018.7512%2012.9568%2018.7506C12.624%2018.7309%2012.3701%2018.4453%2012.3898%2018.1125L12.9565%208.49487C12.9761%208.16208%2013.2608%207.90817%2013.5945%207.92786C13.9273%207.94739%2014.1812%208.23318%2014.1617%208.56598Z%22%20fill%3D%22white%22/%3E%0A%3Cpath%20d%3D%22M17.7598%204.68991L17.3634%203.50156C17.2589%203.18829%2016.9656%202.97696%2016.6352%202.97696H3.37702C3.04682%202.97696%202.7534%203.18829%202.64903%203.50156L2.2526%204.68991C2.17616%204.9191%202.27564%205.15286%202.46134%205.26944C2.53703%205.31689%202.6266%205.34543%202.72502%205.34543H17.2874C17.3858%205.34543%2017.4755%205.31689%2017.5511%205.26929C17.7368%205.15271%2017.8362%204.91894%2017.7598%204.68991Z%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A');
        background-repeat: no-repeat;
        background-size: 100%;
        margin-right: 6px;
      }
    }
  }

  &.text-center {
    text-align: center;
  }
}
