.ui-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $indent-base;
  height: 44px;
  font-size: 14px;
  font-weight: bold;
  font-weight: 600;

  &-cancel {
    font-weight: normal;
    color: $gray-light-color;
    cursor: pointer;
  }

  &-done {
    color: $gray-light-color;

    &.active {
      color: $primary-color;
      cursor: pointer;
      font-weight: bold;
      font-weight: 600;
    }
  }
}