.ui-popup{
  display: none;
  position: absolute;
  background: rgba(0,0,0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 3;

  &.visible {
    display: block;
  }

  &-body {
    position: absolute;
    bottom: $indent-base*2;
    text-align: center;
    width: 90%;
    left: 5%;

    &__options,
    &__button {
      background: white;
      width: 100%;
      border-radius: 6px;
      font-size: 16px;
    }

    &__button {
      border: 1px solid transparent;
      margin-top: $indent-base;
      line-height: 45px;
      font-weight: bold;
      cursor: pointer;
    }

    &__option {
      position: relative;
      line-height: 45px;

      button {
        font-size: 16px;
        background: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
        //color: $primary-color;
      }

      input[type="file"] {
        width: 100%;
        font-size: 0;

        &:before {
          content: "Upload an image";
          position: absolute;
          top:0;
          background: white;
          border-radius: 0 0 6px 6px;
          border-top: 1px solid $border-color;
          display: block;
          width: 100%;
          height: 45px;
          line-height: 45px;
          font-size: 16px;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
}