//@import "../../../node_modules/react-day-picker/lib/style"
$header-height: 250px;

//@keyframes thingview {
//  from {left: 100%}
//  to {left: 0}
//}

.thing-view {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: white;
  transition: 0.3s;
  overflow: hidden;
  //animation-name: thingview;
  //animation-delay: 0.5s;
  //animation-duration: 0.8s;
  //animation-iteration-count: 1;
  //animation-timing-function: ease;

  &.visible {
    left: 0;
  }

  img {
    width: 100%;
  }

  .image-holder {
    position: relative;
    height: $header-height;
    overflow: hidden;

    .image-shade {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: $shade-gradient;
    }
  }

  &-content {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: $header-height;
    color: white;
  }

  &-info {
    position: absolute;
    bottom: 30px;
  }

  &-date {
    padding: 0 $indent-base;
    font-weight: bold;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: $indent-base;
  }

  &-title {
    padding: 0 $indent-base;
    font-weight: bold;
    font-weight: 600;
    font-size: 30px;
  }

  .ui-header {
    &-cancel,
    &-done{
      color: white;
      cursor: pointer;
    }

  }
}